.container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  margin-bottom: 35px;
  margin-left: 22px;

  /* border: black 1px solid; */
}
.video-description {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}
.video-title-box {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  display: inline-flex;
}
.video-title-box-heading {
  /* color: #aaaaaa;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 17px;
  word-wrap: break-word; */
  color: var(--youtube-white, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px; /* 121.429% */
  letter-spacing: -0.7px;
}
.video-title-box-info {
  width: 200px;
  height: 32px;
  position: relative;
}
.video-title-box-el1 {
  width: 116px;
  height: 17px;
  left: 0px;
  top: 0px;
  position: absolute;
  justify-content: flex-start;
  align-items: center;

  display: inline-flex;
}
.video-title-box-el2 {
  width: 100px;
  height: 17px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.video-title-box-username {
  color: #aaaaaa;
  position: absolute;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 17px;
  left: 0;
  white-space: nowrap;
}
.video-title-box-info-icon {
  width: 12px;
  height: 12px;
  padding: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.video-title-box-view-day {
  /* width: 130px; */
  height: 17px;
  left: 0px;
  top: 15px;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 3px;
  display: inline-flex;
}
.video-title-box-view {
  color: #aaaaaa;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 17px;
  white-space: nowrap;
}
.video-title-box-day {
  color: #aaaaaa;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 17px;
  white-space: nowrap;
}
