.page{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    text-align: center;
    .profilepic{
        width:50%;
        height:auto;
        margin:auto;
        }
    .profiledes{
    width:70%;
}
}